h2 {
    color: #262626;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

p {
    color: #A6A6A6;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

h6 {
    color: #0071DC;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}