.pp_sec {
    width: fit-content;
    position: relative;

    img {
        border-radius: 50%;
    }

    i {
        color: #0071DC;
        background-color: white;
        padding: 10px;
        border-radius: 50%;
        position: absolute;
        bottom: 0;
        right: 0;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        cursor: pointer;
    }
}

.input_group {

    input {
        padding: 10px 20px;
        width: 100%;
        border: none;
        outline: none;
        border-radius: 30px;
        border: 1px solid #D9D9D9;
        background: #FFF;
        color: #000000;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

    }


    .error_message {
        font-size: 10px;
        color: red;

    }

}

