.GlobalLearning {

    h6 {
        color: #0071DC;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        /* 133.333% */
    }

    h2 {
        color: #262626;
        text-align: center;
        font-size: 34px;
        font-style: normal;
        font-weight: 700;
        line-height: 44px;
        /* 129.412% */
        width: 75%;
    }

    p {
        color: #A6A6A6;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px;
        /* 200% */
    }
}


// responsive


@media (max-width:768px) {
    .GlobalLearning {

        h6 {
            font-size: 14px;
        }
    
        h2 {
            font-size: 28px;
            width: 100%;
        }
    
        p {
            font-size: 14px;
        }
    }
}


@media (max-width:768px) {
    .GlobalLearning {

        h6 {
            font-size: 14px;
        }
    
        h2 {
            font-size: 22px;
            width: 100%;
            line-height: 34px;
        }
    
        p {
            font-size: 14px;
            line-height: 24px;
        }
    }
}