.technicalReadiness {

    padding-top: 60px;

    h2 {
        color: #262626;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    label {
        color: #262626;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-left: 10px;
        margin-top: -5px;
    }


    .input_group {



        input,
        select,
        textarea {
            padding: 10px 20px;
            width: 100%;
            border: none;
            outline: none;
            border-radius: 30px;
            border: 1px solid #D9D9D9;
            background: #FFF;
            color: #000000;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

  

        textarea {
            border-radius: 10px !important;
        }


    }
}