.header {

    padding: 20px;

    .search-box {
        width: 100%;

        input {
            padding: 10px 20px;
            width: 100%;
            border: none;
            outline: none;
            border-radius: 30px;
            border: 1px solid #D9D9D9;
            background: #FFF;
            color: #A6A6A6;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }


    .profileSection {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            cursor: pointer;
        }


        .PImage {

            position: relative;

            img{
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }

            h3 {
                color: #262626;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                margin-top: 10px;
            }


            .profileBox {

                width: 250px;
                min-height: 100px;
                background-color: #F1F3F8;
                position: absolute;
                padding: 20px 10px;
                top: 150%;
                right: 0%;
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
                z-index: 999;

                a{
                    text-decoration: none;
                }

                &::before {
                    content: "";
                    background-color: #F1F3F8;
                    height: 20px;
                    width: 20px;
                    position: absolute;
                    top: -17px;
                    left: 50%;
                    transform: translateX(-50%);
                    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
                    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
                }

                .box_item {

                    cursor: pointer;
                    padding: 10px;
                    border-radius: 5px;

                    img{
                        width: 40px !important;
                        border-radius: 50%;
                        height: 40px;
                    }

                    &:hover {
                        background-color: #0071DC;

                        i,
                        h6,
                        h3 {
                            color: white !important;
                        }

                    }

                    i {
                        color: #0071DC;
                    }

                    h6 {
                        color: #0071DC;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        margin-bottom: 0;
                    }
                }

            }
        }
    }
}