.page-loading {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #F4F9FF;

    h1 {
        color: #031F42;
        font-size: 54px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    p {
        color: #0071DC;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
    }
}