

// Home Navigation

.home_navigation{
    background-color: #0071DC;
    border-radius: 50%;
    padding: 10px 13px;
    width: fit-content;
    position: fixed; 
    top: 10px;
    left: 10px;
    cursor: pointer;

    i{
        color: #fff;
    }
}