


// Footer

.footer h5 {
    font-size: 24px;
    color: #3F5571;
    font-weight: bold;
}

.footer p {
    color: #B8B7BA;
    font-weight: 400;
    font-size: 16px;
}

.footer ul li a {
    text-decoration: none;
    color: #3F5571;
    font-weight: 400;
    font-size: 20px;
}